
  <br><br><br><br>
<div class="row">


  <div class="col-lg-3 col-md-4 mb-4" *ngFor="let dado of dados">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title mb-auto">
            <a href="#">{{ dado.title }}</a>
          </h4>
          <span class="checkin">loren dolor</span>
          <p class="card-text mt-3">{{ dado.body }}</p>
        </div>
        <div class="card-footer">
          <span class="star selected">&#9733;</span>
          <span class="star selected">&#9733;</span>
          <span class="star no-selected">&#9733;</span>
          <span class="star no-selected">&#9733;</span>
          <span class="star no-selected">&#9733;</span>
        </div>
      </div>
    </div>


</div>


