.card a {
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    
}
.card h4 {
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    font-size: 24px;
    height: 30px; 
    overflow: hidden;
    text-overflow: clip; 

}
.card h4:first-letter { text-transform: capitalize; }

.card span.checkin {
    font-family: 'Open Sans', sans-serif;
    color: #acaaaa;
    font-size: 18px;
   
   
  
}
.card span.checkin:first-letter { text-transform: capitalize; }



.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #acaaaa;
    height: 65px; 
    overflow: hidden;
    text-overflow: clip; 
}
.card-text:first-letter { text-transform: capitalize; }

span.star.no-selected {
    font-size: 17px;
    color: #dddddd;

}

span.star.selected  {
    font-size: 17px;
    color: #b9cb41!important;

}